 .clearfix:after{
	clear: both;
	content: "";
	display:table;
}


.container-wrapper{
	background-color:#f9f9fb;
}

.header-wrapper{
	color: white;
	background-image: url("../images/header-bg.png");
}

.header{
	line-height: 54px;
}
	
.menu-block{
	background-image: url("../images/header-icon-separator.png"),url("../images/header-icon-separator.png");
	background-repeat: no-repeat;
	background-position: left,right;
	float: left;
}

.menu-block a{
	padding:0px 20px;
	display:  block;
}

.logo-block{
	float: right;
}

.right-header ul{
	list-style: none;
}

.right-header ul li{
	float: left;
	width: 20%;
	text-align: center;
}

.right-header ul li a{
	color: white;
	display: block;
}

.right-header ul li a:hover{
	color:#999999;
}

.banner{
	text-align: center;
	width: 100%;
	position: relative;
}

.banner img{
	width: 100%;
}

.banner-content-block{
	width: 90%;
	top:38%;
	left: 7%;
	text-align: left;
	position: absolute;
	color: white;
	z-index: 15;
}



.banner-content p{
	font-family: 'Hind', sans-serif;
	font-weight: 600;	
	font-size: 10px;
	letter-spacing: 3px;
}

.banner-content p:last-child{
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 55px;
}


.signup-text{
	float: left;
	text-align: center;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	padding: 20px 0px;
}


.text-fields-wrapper{
	width: 100%;
	float: left;
}

.text-fields input{
	height: 50px;
	width: 100%;
	border: none;
}

.name-input{
	width: 48%;
	float: left;
}

.mail-input{
	width: 48%;
	float: right;
}

.subscribe-Button{
	padding-top: 20px;
	float: right;
	width: 100%;
}

.subscribe-Button input{
	width: 100%;
	padding: 18px 0px;
	background-color: #212121;
	color: white;
	border: none;
}

.image-wrapper{
	line-height: 0px;
}

.image-content img{
	width: 100%;
}


.gallery-content img{
	width: 100%;
}

.gallery-wrapper{
	line-height: 0px;
}

.content-wrapper{
	margin-top: 61px;
	background-color: #f9f9fb;
}

.content-container{
	padding: 0px 15px;
}

.post-text-content{
	position: relative;
}

.post-author i{
	padding-right: 10px;
	padding-left: 25px;
}

.post-published i{
	padding-right: 10px;
	padding-left: 25px;
}

.post-wrapper{
	margin-bottom: 61px;
}

.post-content{
	font-family: 'Hind', sans-serif;
	text-align: center;
}

.post-text-wrapper{
	background-color: white;
}

.post-text-wrapper.block-quote{
	background-color: #131d1c;
	color: white;
}

.post-text-wrapper.link-block{
	font-family: 'Hind', sans-serif;
	background-color:black;
	color: white;
}


.top-quote-block{
	padding: 95px 10px 0px 10px;
	font-family: hind;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 2px;
}

.bottom-quote-block{
	padding: 0px 10px 0px 10px;
	font-family: hind;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2px;

}

.top-link-block{
	padding-top:95px; 
	letter-spacing: 2px;
	font-family: hind;
	font-weight: 500;
	font-size: 20px;
}

.bottom-link-block{
	letter-spacing: 2px;
	font-family: hind;
	font-weight: 500;
	font-size: 10px;
}

.top-post-block{
	padding: 50px 10px 0px 10px;
	border-bottom:1px solid #f2f2f4;
}

.bottom-post-block{
	padding: 0px 10px 0px 10px;
}

.site-name{
	padding-bottom: 25px;
}

.site-link{
	padding-bottom: 80px;
}

.site-link a{
	text-decoration: underline;
	color: white;
}

.quote{
	padding-bottom: 55px;
}

.quote-author{
	color: #585b5b;
	padding-bottom: 75px;
}

.post-text-wrapper.with-image{
	background-color: transparent;
}


.post-text{
    text-align: justify;
    text-align-last: center;
    padding-bottom: 50px;
}



.post-text p{
	margin-bottom: 45px;
}



.read-more a{
	text-decoration:  none;
	color: #212121;
	border:none;
	padding: 0px 14px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	background-color: transparent;
}

.read-more input:hover{
	background-color: #f9f9fb;
}


.with-image .read-more input:hover{
	background-color: white;
}



.post-header{
	margin-bottom: 35px;
}

.post-heading{
	font-family: 'Montserrat', sans-serif;
	margin: 22px 0px;
}

.post-icon{
	left: 46.5%;
	position: absolute;
	top: -20px;
}

.post-category{
	color:#c9c9ca;
}

.post-author{
	color:#c9c9ca;	
}

.post-published{
	color:#c9c9ca;
}

.post-status{
	line-height: 77px;
}

.post-status-block{
	float: left;
}

.status-span{
	margin-right: 25px;
}

.status-span i{
	margin-right: 6px;
}

.post-status-block p{
	font-family: hind;
	font-weight: 400;
}

.post-status-block p a{
	text-decoration: none;
	color: #999999;
}

.post-social-block{
	float: right
}

.post-social-block ul{
	list-style: none;
}

.post-social-block ul li{
	float: left;
	margin-left: 35px;
}

.post-social-block ul li a i{
	color: #464646;
}

.post-social-block ul li a:hover i{
	color: #999999;
}



/* Right Content begins */

.right-content-wrapper{
	background-color: white;
}

.right-content-container{
	padding: 0px 30px;
}

.right-content{
	padding-top: 40px; 
}

.right-content:last-child{
	margin-bottom: 40px;
}

.search-block input{
	padding:17px 0px;
	background-color: #f9f9fb;
	border:none;
	width: 100%;
}

.search-input{
	width: 83.3333%;
	float: left;
}

.search-input input{
	padding-left:20px;
}

.search-button{
	float:left;
	width: 16.667%;
}

.search-button div{
	line-height: 50px;
	text-align: center;
	background-color: #212121; 
	color: white;
}

.adsense-wrapper{
	display: none;
}

.block-heading{	
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f7f7f7;
}

.block-content ul{
	list-style: none;
}

.block-content li{
	font-size: 18px;
	font-family: 'Hind', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid #f7f7f7;
}

.block-content li a{
	color: #3c3c3c;
	padding: 15px 0px; 
	display:  block;
	width: 100%;
}

.block-content li a:hover{
	color: #999999;
}

.category-text{
	float: left;
}

.category-content{
	float: right;
}

.latest-post-container ul{
	list-style: none;
}

.latest-post-container ul li {
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f7f7f7;
}

.latest-post-image{
	width: 27.3333%;
	float: left;
}

.latest-post-content{
	float: right;
	width: 70.6667%;
}

.latest-post-heading{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #212121; 
}

.latest-post-content p:first_child{
	margin-top: 0px;
}


.latest-post-content{
	float: right;
	width: 60%;
}

.latest-post-status{
	color: #a9a9a9;
	font-family: 'hind', sans-serif;
	font-weight: 400;
	margin-top: 10px;
	font-size: 13px;
}

.latest-post-status span:first-child{
	margin-right: 25px;
}

.social-icons-wrapper ul{
	list-style: none;
}

.social-icons-wrapper ul li{
	float: left;
	margin-right: 50px;
}

.social-icons-wrapper ul li a{
	color: #464646;
}

.social-icons-wrapper ul li a:hover{
	color:#999999;
}

.social-icons-wrapper ul li:last-child{
	margin-right: 0px;
}


.clearfix:after{
	clear: both;
	content: "";
	display:table;	
}

#slider-wrapper{
	width: 100%;	
	overflow: hidden;
	position: relative;
}

#slider{
	position: absolute;
}

#slider img{
	float: left;
}

.buttons_overlay{
	width: 100%;
	position: absolute;
	z-index: 20;
	display: block;
	top: 50%;
	transform: translateY(-25px);
	
}

#right_slide_button{
	text-decoration: none;
	width: 10%;
	float: right;
	font-size: 45px;
	background-color: grey;
	color: white;
}

#left_slide_button{
	font-size: 45px;
	background-color: grey;
	text-decoration: none;
	width: 10%;
	float: left;
	color: white;
}

.slide_button:hover{
	background-color: snow;
	opacity: 0.5;
}

#slider_indicator{
	bottom: 0;
	z-index: 10;
	width: 100%;
	opacity: 0.9;
	display: block;
	position: absolute;
	background-color: grey;	
}

#slider_indicator ul{
	list-style: none;
	padding: 10px;
	display: block;
	color: white;
}

#slider_indicator ul li{
	margin: 10px;
	float: left;
	background-color: black;
}

#slider_indicator ul li a{
	height: 10px;
	width: 10px;
	display: block;
	background-color: black;
}



.facebook-widget-container img{
	width: 100%;
}

.footer{
	padding: 0px 15px;
}

.footer-wrapper{
	width: 100%;
	background-color: #212429;
}

.footer-container{
	padding-top: 60px;
	padding-bottom: 45px;
}

.footer-block{
	color: #efeff1;
	width: 100%;
	float: left;
}

.footer-block-heading{
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 40px;
	padding-top: 20px;
	font-weight: 700;
	text-align: center;
}

.footer-block-content{
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #f9f9fb;
	letter-spacing: 1px;
	text-align: center;
}

.signatureImage img{
	padding-top: 10px;
	width: 100%;
}

.tweet{
	padding-bottom: 28px;
}

.tweet-heading{
	padding-bottom: 13px;
}

.tweet-heading span{
	margin-right: 10px;
}

.tweet-content{
	margin-left: 30px;
}


.from-block{
	padding-bottom: 10px;
}


.comment:first-child{
	padding-top: 0px;
	border-top:none;
	padding-bottom: 23px;	
}

.comment-content{
	padding-left: 15px;
}

.comment{
	padding-top: 23px;
	border-top: 1px solid #65676a;
}

.comment:last-child{
	border-bottom: none;
}

.end-footer-wrapper{
	width: 100%;
	background-color: #17191c;
	color: #929293;
}

.end-footer-container{
	text-align: center;
	line-height: 40px;
}

.end-footer{
	font-family: 'hind',sans-serif;
	font-weight: 400;
}

@media only screen and (min-width: 768px){


	.top-quote-block{
		padding: 95px 100px 0px 55px;
	}

	.bottom-quote-block{
		padding: 0px 100px 0px 60px;
	}

	.top-link-block{
		padding-top:95px; 
	}

	.bottom-link-block{
		font-size: 20px;
	}

	.top-post-block{
		padding: 50px 100px 0px 60px;
	}

	.bottom-post-block{
		padding: 0px 100px 0px 60px;
	}

	.banner-content-block{
		width: 30%;
	}

	.banner-content p:last-child{
		font-size: 25px;
		line-height: 25px;
		margin-top: 15px;
	}

		.left-content-wrapper{
		float: left;
		width: 74.5098%;
	}

	.right-content-wrapper{
		float: right;
		width: 23.5294%;
	}

	.latest-post-image{
		display: none;
	}

	.latest-post-content{
		width: 100%;
	}

	.social-icons-wrapper ul li{
		float: left;
		margin-right: 10px;
	}

	.insta-images img:nth-child(3){
		display: none;
	}
	.insta-images img:nth-child(4){
		display: none;
	}
	.insta-images img:nth-child(5){
		display: none;
	}

	.footer-block{
		width: 30%;
		margin-right: 25px;
	}

	.footer-block:nth-child(3){
		margin-right: 0px;
	}

	.footer-block:last-child{
		display: none;
	}



}

@media only screen and (min-width: 1024px){

	.right-header ul li{	
		display: block;
		float:right;
		width: 20%;
		text-align: center;
		background-image: url("../images/header-icon-separator.png");
		background-repeat: no-repeat;
		background-position: left;
	}

	.left-header{
		float: left;
		width: 55%;
	}

	.right-header{
		float: right;
		width: 15%;
	}

	.banner-content p:last-child{
		font-size: 25px;
		line-height: 35px;
	}

	.newsletter-container{
		padding: 30px 15px 0px 15px;
	}

	.signup-text{
		text-align: left;
		display: inline-block;
		width: 15.0327%;
		padding:0px;
	}

	.text-fields-wrapper{
		text-align: left;
		display: inline-block;
		width: 63.3986%;
	}


	.text-fields input{
		padding-left: 30px;	
		width: 100%;
		border: none;
	}

	.name-input{
		width: 44.5%;
		margin-left: 30px;
	}

	.mail-input{
		margin-right: 15px;
		width: 44.5%;
	}

	.subscribe-Button{
		width: 18.4314%;
		padding-top: 0px;
	}

	.subscribe-Button input{
		width: 100%;
		padding: 18px 0px;
		background-color: #212121;
		color: white;
		border: none;
	}



	.insta-images img:nth-child(3){
		display: inline-block;
	}
	.insta-images img:nth-child(4){
		display: inline-block;
	}
	.insta-images img:nth-child(5){
		display: inline-block;
	}

	.adsense-wrapper{
		display: block;
	}

	.adsense img{
		width: 100%;
	}

	.latest-post-image{
		width: 100%;
		display: inline-block;
	}

	.latest-post-image img{
		width: 100%;
	}

	.latest-post-content{
		width: 100%;
	}

	.social-icons-wrapper ul li{
		float: left;
		margin-right: 25px;
	}

}

@media only screen and (min-width: 1354px){

	.banner-content p{
		font-size: 15px;
	}

	.banner-content p:last-child{
		font-size: 38px;
		line-height: 55px;
	}

}

@media only screen and (min-width: 1560px){

	.top-div{
		background-image: url("../images/header-back.png");
		background-repeat: repeat-x;
	}

	.header-container{
		width: 97.5em;
	}


	.banner-container{
		width: 97.5em;
	}

	.banner-content p:last-child{
		font-size: 43px;
	}

	.newsletter-wrapper{
		width: 97.5em;
		text-align: center;
	}

	.content-wrapper{
		width: 97.5em;
	}

	.left-content-wrapper{
		float: left;
		width: 74.5098%;
	}

	.right-content-wrapper{
		float: right;
		width: 23.5294%;
	}

	.content{
		width: 97.5em;
	}

	.latest-post-image{
		width: 27.3333%;
		float: left;
	}

	.latest-post-content{
		float: right;
		width: 70.6667%;
	}

	.social-icons-wrapper ul li{
		float: left;
		margin-right: 50px;
	}

	.footer-block{
		width: 24%;
		margin-right: 15px;
	}

	.footer-block:last-child{
		display: block;
	}


	.footer-block:last-child{
		margin-right: : 0px;
	}

	.footer-block-heading{
		padding-top: 0px;
		text-align: left;
	}

	.footer-block-content{
		text-align: left;
	}


	.footer-container{
		width: 97.5em;
	}

	.end-footer-container{
		width: 97.5em;
	}

}